[submodule "Esp8266-Arduino-Makefile"]
	path = Esp8266-Arduino-Makefile
	url = https://github.com/thunderace/Esp8266-Arduino-Makefile.git
[submodule "libraries/Syslog"]
	path = libraries/Syslog
	url = https://github.com/arcao/Syslog
[submodule "libraries/PubSubClient"]
	path = libraries/PubSubClient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "libraries/CRC32"]
	path = libraries/CRC32
	url = https://github.com/bakercp/CRC32.git
